body{
    font-family: 'Aboreto', cursive;
    font-family: 'Bree Serif', serif;
    font-family: 'Cormorant SC', serif;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Koulen', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.logo{
    width: 20%;
}
#header-text-1{
    padding-top: 70px;
}
#service-img{
    width: 100%;
}
.nav-img{
    width: 20%;
}
.nav-item{
    margin: 10px;
}
*{
    margin: 0;
    padding: 0;
}